/*
	Colores:
		black					gray
		silver				white  	 
		red					lime
		blue 	 				yellow
		aqua					fuchsia 	 
		maroon				orange
		olive					purple
		green					navy
		teal 	 

*/
body {
	font-family: Verdana, Arial, sans-serif;
	background:black;
	color: white;
	margin: 0px auto;
	padding: 0 0 20px 0;
	height: 100%;
	overflow: hidden;
}

.div-main{
	width: 95%;
	height: 900px;
	background-color: gray;
	margin: 20px 20px 20px 20px ;
	border:4px inset purple;
}

.div-head{
	width: 96%;
	height: 50px;
	vertical-align: middle;
	background-color: black;
	margin: 20px 20px 20px 20px ;
	border:4px inset purple;
}

.div-content{
	width: 96%;
	height: 600px;
	background-color: black;
	margin: 20px 20px 20px 20px ;
	border:4px inset purple;
}

.div-client-list{
	width: 20%;
	height: 550px;
	background-color: black;
	margin: 20px 20px 20px 20px ;
	float: left;
	border:4px inset purple;
	text-align:left;
}

.div-title{
	width: 70%;
	height: 50px;
	vertical-align: middle;
	float: right;
	background-color: black;
	margin: 20px 20px 20px 20px ;
	border:4px inset purple;
}

.div-status-list{
	width: 70%;
	height: 400px;
	background-color: black;
	margin: 20px 20px 20px 20px ;
	float: right;
	border:4px inset purple;
	overflow: auto;
	overflow-x: hidden;
	text-align:center;
}

.icon {
	border: 0px;
	width: 32px;
	height: 32px;
	}


.status_table {
	width: 100%;
	border: 1px solid rgb(122, 105, 105);
	text-align: left;
	padding: 8px;
  }

.status_table_td1 {
	width: 20%;
	vertical-align: top;
  }

.status-list-table {
	width: 100%;
  }

.status-table-title {
	font-size: 20px;
	font-weight: bold;
}

.client-list {
	cursor: pointer;
}

.abm-list-table {
	width: 100%;
  }

.action-text {
	text-align: center;
	cursor: pointer;
}

.menu-link {
	cursor: pointer;
	font-weight: bold;
}

.div-foot{
	width: 96%;
	height: 50px;
	vertical-align: middle;
	background-color: black;
	margin: 20px 20px 20px 20px ;
	border-color: black;
	border:2px;
	border:4px inset purple;
	font-family:Arial;
	font-size: 10px;
}
